<div class="container lib-flex lib-stack lib-cross-center">
  <div>
    <div class="lifetime">
      <img src="../../assets/images/lifetime-logo.svg">
    </div>
    <h1 class="title"><span></span> BASKETBALL</h1>
  </div>
  <div class="lib-flex">
    <ng-template [ngIf]="authService.isAuthenticated()">
      <div class="nav"
           routerLink="/nextgame"
           routerLinkActive="active"
      >
        Next Game
      </div>
      <div class="nav"
           routerLink="/calendar"
           routerLinkActive="active"
      >
        Calendar
      </div>
      <div class="nav"
        (click)="onLogout()">
        Logout
      </div>
    </ng-template>
    <ng-template [ngIf]="!authService.isAuthenticated()">
      <div class="nav"
           routerLink="/signin"
           routerLinkActive="active"
      >
        Sign In
      </div>
      <div class="nav"
           routerLink="/signup"
           routerLinkActive="active"
      >
        Register
      </div>
    </ng-template>
  </div>
</div>
