<form (ngSubmit)="onSignin(f)" #f="ngForm" class="pure-form">
  <legend class="lib-pl20">Welcome, Sign In Below</legend>
  <div class="lib-flex lib-stack formField">
    <input required
           email
           type="email"
           placeholder="Email"
           name="email"
           ngModel
           #email="ngModel"
    >
    <label *ngIf="email.invalid">Please enter a valid email</label>
  </div>
  <div class="lib-flex lib-stack formField">
    <input required
           password
           [type]="showPassword? 'text' : 'password'"
           placeholder="Password"
           name="password"
           ngModel
           #password="ngModel"
    >
    <i *ngIf="!showPassword" class="material-icons" (click)="toggleShowPassword()">visibility</i>
    <i *ngIf="showPassword" class="material-icons" (click)="toggleShowPassword()">visibility_off</i>
    <label *ngIf="password.invalid">Please enter a password</label>
  </div>
  <div class="button">
    <button
      *ngIf="!f.valid"
      disabled
      class="pure-button pure-button-disabled"
    >Log In</button>
    <button
      *ngIf="f.valid"
      type="submit"
      class="pure-button pure-button-primary"
    >Log In</button>
  </div>
</form>
<div class="lib-mt20 createAccount">
  <p>Don't have an account?</p>
  <p><a routerLink="/signup"> Create one here!</a></p>
</div>
