@import '../../../../src/_globalVariables.scss';

.formField {
  width: 60%;
  margin: 0 auto;
}

.createAccount{
  text-align: center;
}

legend{
  padding-bottom: 40px;
}

.button{
  text-align: center;
}
