


<div class="container">
  <p class="title">The next game is: {{nextGame}}</p>
  <app-calendar class="title" [players]="players"></app-calendar>
  <hr>
  <p class="title">My Status For Next Game: <span [ngClass]="{statusIn: status =='IN', statusOut: status =='OUT'}">{{status}}</span></p>
  <div class="container">
    <label class="switch" for="checkbox">
      <input (click)="onSlide()" [checked]="checked" type="checkbox" id="checkbox" />
      <div class="slider round"></div>
    </label>
  </div>
</div>

<hr>

<button id="reset" *ngIf="isAdmin" class="button-error pure-button" (click)="resetPlayersStatus()">Reset Player Statuses</button>

<div class="lib-flex statusDiv">
  <div>
    <p class="title">PLAYERS IN: {{playersIn.length}} <i class="material-icons">thumb_up</i></p>
    <div *ngFor="let player of playersIn; let i = index">
      {{i+1}} - {{player.firstName}} {{player.lastName}}
    </div>
  </div>

  <div class="split"></div>

  <div>
    <p class="title">PLAYERS OUT: {{playersOut.length}}<i class="material-icons">thumb_down</i></p>
    <div *ngFor="let player of playersOut; let i = index">
      {{i+1}} {{player.firstName}} {{player.lastName}}
    </div>
  </div>
</div>
